{{ ansible_managed | comment }}

nodes:
{% for nodes in rke_nodes %}
  - address: {{ nodes.address }}
    internal_address: {{ nodes.internal_address }}
    user: {{ nodes.user }}
    role: {{ nodes.role }}
    ssh_key_path: ~/.ssh/id_rsa
    port: 14225
    docker_socket: /var/run/docker.sock
{% endfor %}

services:
  etcd:
    snapshot: true
    creation: 6h
    retention: 24h
